/* Use readable font */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* Buttons on the main menu */
.menu-button {
    margin: 3px;
    border: 1px solid gray;
    border-radius: 10px 10px;
}

/* When a button is active */
.menu-button.selected {
    margin: 2px;
    border: 2px solid red;
}

/* Default tile state */
.tile {
    width: 30px;
    height: 30px;
    background-color: white;
}

/* When a tile is flagged */
.tile.flagged {
    background-color: rosybrown;
}

/* How many adjacent mines there are */
.tile.revealed.mines0 {
    background-color: lightslategray;
}

.tile.revealed.mines1 {
    background-color: orange;
}

.tile.revealed.mines2,
.tile.revealed.mines3 {
    background-color: darkorange;
}

.tile.revealed.mines4,
.tile.revealed.mines5,
.tile.revealed.mines6,
.tile.revealed.mines7,
.tile.revealed.mines8 {
    background-color: orangered;
}

/* When tile is a mine */
.tile.revealed.mine {
    background-color: darkred;
}
